<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${student.getFirstName()}+' '+${student.getLastName()}">Student</title>
</head>
<body>
<p th:text="id + ':' + ' ' +${student.getId()}">VALUE</p>
<p th:text="Name + ':' + ' ' +${student.getFirstName()}+' '+${student.getLastName()}">VALUE</p>
<p th:text="Birthday + ':' + ' ' +${student.getBirthDate()}">VALUE</p>
<p th:text="Gender + ':' + ' ' +${student.getGender()}">VALUE</p>
<p th:text="Phone number + ':' + ' ' +${student.getPhoneNumber()}">VALUE</p>
<p th:text="Email + ':' + ' ' +${student.getEmail()}">VALUE</p>
</body>
</html>
