<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title th:text="${teacher.getFirstName()}+' '+${teacher.getLastName()}">Student</title>
</head>
<body>
<p> Name: <span th:text="${teacher.getFirstName()}+' '+${teacher.getLastName()}">value</span></p>
<p> Birthday: <span th:text="${teacher.getBirthDate()}">value</span></p>
<p> Gender: <span th:text="${teacher.getGender()}">value</span></p>
<p> Academic degree: <span th:text="${teacher.getAcademicDegree()}">value</span></p>
<p> Phone number: <span th:text="${teacher.getPhoneNumber()}">value</span></p>
<p> Email: <span th:text="${teacher.getEmail()}">value</span></p>
<p> Address: <span th:text="${teacher.getAddress().getCountry()}">country</span>,
  <span th:text="${teacher.getAddress().getCity()}">city</span>,
  <span th:text="${teacher.getAddress().getStreet()}">street</span>,
  <span th:text="${teacher.getAddress().getHouseNumber()}">house number</span>,
  <span th:text="${teacher.getAddress().getApartmentNumber()}">apartment number</span>,
  <span th:text="${teacher.getAddress().getPostcode()}">postcode</span></p>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Courses</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="course: ${courses}">
    <td th:text="${course.getName()}"/>
  </tr>
  </tbody>
</table>
</body>
</html>
